.main__header{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all .3s ease;
}
.main__header--logo img{
    width: 80px;
    height: 65px;
}
.header__nav--ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 1.7rem;
}
.header__nav--ul a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.header--active{
    background-color: #ffffff;
    box-shadow: 0px 4px 4.46881px 0px rgba(0, 0, 0, 0.25);
    a{
        color: black;
    }

}