.next_auction .swiper {
    margin-top: 30px;
    padding: 0 40px;
    width: 100%;
    height: 450px;
}
.next_auction .swiper-button-prev,.swiper-button-next {
    color: var(--main-color) !important;
}
.next_auction .swiper-button-prev{
    left: 20px;
}
.next_auction .swiper-button-next{
    right: 20px;
}
.next_auction .swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
}
.next_auction .swiper-slide {
    text-align: center;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
  
.next_auction .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit:contain; */
    border-radius: 5px;
    user-select: none;
}
  
.next_auction .swiper {
  
    padding: 50px 0;
}
  


@media (max-width: 90px){
.next_auction .swiper-button-prev,.swiper-button-next {
    opacity: 0 !important;
}
}